.section-client {
    padding-bottom: 94px;
    padding-top: 94px;

    & .clients-logo {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .clients-logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 170px;
    height: 90px;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    fill: #afb1b8;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }
  }