.contact-nav {
    display: flex;
  
    margin-left: auto;
  }
  
  .contact-nav__item + .contact-nav__item {
    margin-left: 50px;
  }
  
  .contact-nav__link {
    display: inline-flex;
    align-items: center;
  
    text-decoration: none;
    color: var(--title-text-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .contact-nav__link:hover,
  .contact-nav__link:focus {
    color: var(--accent-color);
  }
  
  .contact-nav__icon {
    margin-right: 10px;
  
    fill: currentColor;
    align-items: baseline;
  }