.text-hero {
  width: 696px;

  margin-left: auto;
  margin-right: auto;

  & .hero-title {
    color: var(--hero-text-color);

    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
